body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin: 10px 60px 20px 60px;
}

.search, .user {
    margin-bottom: 30px;
}

.search {
    grid-column: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.magnify, 
.bell {
    width: 25px;
    height: 25px;
}

.magnify:hover,
.bell:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.field {
    outline: none;
    border: none;
    border-radius: 16px;
    background-color: #e5e7eb;
    width: 600px;
    height: 28px;
    padding-left: 15px;
    margin-left: 10px;
}

.user {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-self: right;
    gap: 30px;
    font-size: 12px;
}

.profile-pic {
    border-radius: 40%;
    width: 50px;
}

.profile-pic:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.content {
    grid-column: 2;
    background-color: #94a3b8;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 20px;
}

.welcome-pic {
    border-radius: 50%;
    width: 60px;
}

.message {
    font-size: 16px;
}

.message > p, h3 {
    margin: 0;
}

.nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    gap: 50px;
}

.nav li {
    color: white;
    font-weight: 700;
    background-color: #38bdf8;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.nav li:hover {
    background-color: #0ea5e9;
    transform: scale(1.05);
    cursor: pointer;
}

.dashboard {
    /* grid-column: 1; */
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr;
    background-color: #38bdf8;
    color: white;
}

.dashboard > div {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: auto;
}

.upper {
    grid-row: 1;
    margin-top: 10px;
    gap: 10px;
}

.upper .logo {
    grid-column: 1;
    width: 50px;
    fill: white;
    margin: auto;
}

.upper .menu-text {
    grid-column: 2;
}

.mid {
    grid-row: 2;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
    row-gap: 30px;
}

.mid .icon {
    width: 25px;
    fill: white;
    margin: auto;
}
